[Unit]
Description=Temperature Sensor Plotter
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/git/pi_temperature_sensor
Environment="PATH=/home/pi/git/pi_temperature_sensor/venv/bin:$PATH"
ExecStart=/home/pi/venvs/pi_temp_sensor/bin/python3 -m src.plot_temperature \
  --root-dir /home/pi/git/pi_temperature_sensor/test_device \
  --sensor-filename w1_slave \
  --interval 1 \
  --url http://pi4b:8090/temp \
  --name kammerl
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
